<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theboyaply.orangeJuice.web.mapper.SysCompanyMapper">
    <select id="listCompanyAndImages" resultType="com.theboyaply.orangeJuice.web.domain.SysCompany">
        select
        c.*,
        f.file_url as companyImage
        from sys_company c
        left JOIN sys_file f ON c.id = f.biz_id and 'company' = f.biz_type
    </select>
</mapper>