<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theboyaply.orangeJuice.web.mapper.SysPermissionMapper">
    <select id="selectPermissionByUserId" resultType="com.theboyaply.orangeJuice.web.domain.SysPermission">
        SELECT
        p.*
        FROM
        sys_user AS u
        LEFT JOIN sys_user_role ur ON u.id = ur.user_id
        LEFT JOIN sys_role r ON ur.role_id = r.id
        LEFT JOIN sys_role_permission rp ON r.id = rp.role_id
        LEFT JOIN sys_permission p ON rp.permission_id = p.id
        WHERE u.id = #{userId}
    </select>
</mapper>